<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3O8WG3AsMymjbNEy5ilrkcL0jwWNzw-8</string>
	<key>GCM_SENDER_ID</key>
	<string>107878050458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.warmindoTugas</string>
	<key>PROJECT_ID</key>
	<string>warmindotugas</string>
	<key>STORAGE_BUCKET</key>
	<string>warmindotugas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107878050458:ios:bfd9dba22517cb9e690d23</string>
</dict>
</plist>